<div class="container">
  <div class="row">
    <%= render "layouts/errors", model: @customer %>
  </div>
  <h2 class="text-center">Profile Edit</h2>
  <div class="container">
    <div class="card card-container card-class">
    <%= form_with model: @customer, method: :patch do |f| %>
      <div class="form-group">
        <%= f.text_field :last_name, class: "form-control" %>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "profile image" %>
        <%= f.file_field :customer_image, class: "form-control-image", accept: "image/*" %>
      </div>
      <div class="form-group">
        <%= f.label "introduction" %>
        <%= f.text_area :introduction, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "変更を保存", class: "btn btn-secondary" %>
        <%= link_to "退会する", customer_unsubscribe_path(@customer), class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
</div>