<div class="container px-5 px-sm-0">
  <div class="form-group">
    <%= form_with url: customer_search_path, method: :get do |f| %>
      <%= f.text_field :keyword, class: "form-control col-md-3", placeholder: "#{@keyword}" %>
      <%= f.submit "Search", class: "btn btn-outline-dark" %>
    <% end %>
    <%= @keyword %> で検索中
  </div>
  <h2 class="text-center">Members</h2>
  <div class="row">
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Tasks</th>
        <th></th>
      </thead>
      <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td>
            <%= image_tag customer.get_customer_image(100,100) %>
            <%= customer.full_name %>
          </td>
          <td>
            <%= link_to customer_path(customer.id) do %>
              <%= customer.tasks.count %>
            <% end %>
          </td>
          <td><%= link_to "Show", customer_path(customer.id) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= paginate @customers %>