<div class="container">
  <%= form_with url: customer_search_path, method: :get do |f| %>
  <div class="form-group">
    <%= f.text_field :keyword, class: "form-control col-md-3", placeholder: "#{@keyword}" %>
  </div>
  <%= f.submit "Search", class: "btn btn-outline-dark" %>
  <% end %>
  <span><%= @keyword %> で検索中</span>
  <h1 class="text-center mb-5">Members</h1>
  <div class="row">
    <table class="table">
      <thead class="table-center">
        <th>Name</th>
        <th>Introduction</th>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr class="table-center" onclick="window.location.href='<%= customer_path(customer.id) %>'" onmouseover="this.style.backgroundColor='#dcc2ff'" onmouseout="this.style.backgroundColor='#fff'">
            <td class="customer_index">
              <%= image_tag customer.get_customer_image(100,100) %><br>
              <%= customer.full_name %>
            </td>
            <td class="pt-4">
              <%= truncate(customer.introduction, length:20) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= paginate @customers %>