<h2>Infomation</h2>
<div class="row">
  <div class="info col-lg-6">
    <div class="my-3">
      <%= image_tag @customer.get_customer_image(150, 150) %>
    </div>
    <div>
      <h5>Name</h5>
      <h4><strong><%= @customer.full_name %></strong></h4>
    </div>
    <div class="introduction">
      <h5>Introduction</h5>
      <p><%= @customer.introduction %></p>
    </div>
    <div class="my-3 text-right">
      <p>
        <% if @customer == current_customer %>
          <% if @customer.email != "guest@example.com" %>
            <%= link_to "Edit", edit_customer_path(id: @customer), class: "btn btn-secondary" %>
          <% end %>
        <% end %>
        <%= link_to "Favorite Tasks", customer_favorites_path(customer_id: @customer), class: "btn btn-success" %>
      </p>
    </div>
  </div>
  <div class="new-task offset-lg-1 col-lg-5 pt-3">
    <h3>New task</h3>
    <%= form_with model: @task do |f| %>
      <div class="form-group">
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <h3>Create tag</h3>
        <h4>例)Zoo,calligraphy,study</h4>
        <%= f.text_field :tag_name, class: "form-control" %>
      </div>
      <div class="form-group text-right">
        <%= f.select :progress_status, Task.progress_statuses_i18n.invert, {prompt: false}, class: "form-control" %>
        <p><%= f.submit "Create", class: "btn btn-primary col-4 mt-3" %></p>
      </div>
    <% end %>
  </div>
</div>
<div>
<h2 class="text-center mt-3">Tasks</h2>
<div class="my-3">
    <% if @customer_tag_list.present? %>
      <% @customer_tag_list.each do |tag| %>
        <%= tag.name %>
        (<%= tag.tasks.where(customer_id: @customer.id).count %>)
      <% end %>
    <% else %>
    <% end %>
  </div>
  <div class="d-flex flex-wrap">
    <% @tasks.each do |task| %>
    <div class="card col-md-3" style="width: 16rem">
      <div class="card-body">
        <strong class="card-title"><%= link_to task.title, task_path(task.id) %></strong>
        <div class=<%= task.progress_status %>>
          <%= task.progress_status_i18n %>
        </div>
        <div>
          <%= task.created_at.to_s(:datetime_jp) %>
        </div>
        <div>
          <span><%= pluralize(task.task_comments.count, "comment") %></span>
        </div>
        <div id="favorite_btn_<%= task.id %>">
          <%= render "public/favorites/favorite", task: task %>
        </div>
        <div>
          <!--投稿に紐付くタグを取り出す-->
          <% task.tags.each do |tag| %>
            <p class="badge badge-primary"><%= tag.name %></p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<%= paginate @tasks %>
