<div class="container">
  <div class="row">
    <%= render "layouts/errors", model: @customer %>
  </div>
  <h2 class="text-center"><%= @customer.full_name %>さんの会員情報編集</h2>
  <div class="container">
    <div class="card card-container card-class">
      <%= image_tag @customer.get_customer_image(150, 150), class: "profile-img-card" %>
      <h5 class="text-center">ID:<%= @customer.id %></div>
      <%= form_with model: @customer, url: admin_customer_path(@customer), method: :patch do |f| %>
        <div class="form-group">
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label "profile image" %>
          <%= f.file_field :customer_image, class: "form-control-image", accept: "image/*" %>
        </div>
        <div class="form-group">
          <%= f.label "Email" %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
        <div class="text-center">
          <%= f.label :is_delete, "会員ステータス" %>
        </div>
        <div class="form-group text-center">
          <%= f.radio_button :is_delete, false %>
          <%= f.label :is_delete, "有効" %>
          <%= f.radio_button :is_delete, true %>
          <%= f.label :is_delete, "退会" %>
        </div>
        <div class="form-group text-center">
          <%= f.submit "変更を保存", class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>