<div class="container">
  <%= form_with url: admin_customer_search_path, method: :get do |f| %>
  <div class="form-group">
    <%= f.text_field :keyword, class: "form-control col-md-3", placeholder: "#{@keyword}" %>
  </div>
  <%= f.submit "Search", class: "btn btn-outline-dark" %>
  <% end %>
  <span><%= @keyword %> で検索中</span>
  <h1 class="text-center mb-5">会員一覧</h1>
  <div class="row">
    <table class="table table-bordered">
      <thead class="table-center bg-light">
        <tr>
          <th>名前</th>
          <th>自己紹介</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
      <% @customers.each do |customer| %>
        <tr class="table-center" style="cursor: pointer" onclick="window.location.href='<%= admin_customer_path(customer.id) %>'" onmouseover="this.style.backgroundColor='#fff'" onmouseout="this.style.backgroundColor='transparent'">
          <td>
            <%= image_tag customer.get_customer_image(100,100) %><br>
            <%= customer.full_name %>
          </td>
          <td class="pt-5"><%= truncate(customer.introduction, length:20) %></td>
          <td class="pt-5">
            <% if customer.is_delete == false %>
              <b class="text-success">有効</b>
            <% else %>
              <b class="text-danger">退会</b>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= paginate @customers %>