<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h2><%= @task.customer.full_name %>さんのタスク詳細</h2>
      <table class="table">
        <tr>
          <td><h4><strong><%= @task.title %></strong></h4></td>
          <td class=<%= @status %>><%= @status_i18n %></td>
          <td><%= link_to "削除", admin_task_path(@task), method: :delete, data: { confirm: "タスクを消しますか？" }, class: "btn btn-outline-danger" %></td>
          <td><%= @task.created_at.to_s(:datetime_jp) %></td>
        </tr>
      </table>
      <% @task.task_comments.each do |task_comment| %>
        <div class="col-md-2">
          <% image_tag task_comment.customer.get_customer_image(100,100) %>
          <%= task_comment.customer.full_name %>
          <%= task_comment.created_at.to_s(:datetime_jp) %>
        </div>
        <div class="col-md-8">
          <%= task_comment.comment %>
        </div>
        <div class="col-md-2">
          <%= link_to "削除", admin_task_task_comment_path(task_comment.task, task_comment), method: :delete,data: { confirm: "#{task_comment.customer.full_name}さんのコメントを消しますか？" }, class: "btn btn-sm btn-outline-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
