<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="text-center">
        <h3><%= @task.customer.full_name %>さんのタスク</h3><br>
        <h3><strong><%= @task.title %></strong></h3>
        <p>登録日:<%= @task.created_at.to_s(:datetime_jp) %></p>
        <p><%= link_to "削除", admin_task_path(@task), method: :delete, data: { confirm: "#{@task.customer.full_name}さんのタスクを消しますか？" }, class: "btn btn-danger" %></p>
      </div>
      <div>コメント一覧</div>
      <div class="task_show">
        <% if @task.task_comments.present? %>
          <% @task.task_comments.each do |task_comment| %>
            <div>
              <%= image_tag task_comment.customer.get_customer_image(100,100) %>
              <%= task_comment.customer.full_name %>
              <%= task_comment.created_at.to_s(:datetime_jp) %>
            </div>
            <div>
              <%= task_comment.comment %>
            </div>
            <div>
              <%= link_to "削除", admin_task_task_comment_path(task_comment.task, task_comment), method: :delete,data: { confirm: "#{task_comment.customer.full_name}さんのコメントを消しますか？" }, class: "btn btn-sm btn-danger" %>
            </div>
          <% end %>
        <% else %>
          <div class="text-center">投稿されたコメントはありません</div>
        <% end %>
      </div>
    </div>
  </div>
</div>