<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h3 class="text-center">タスク編集</h3>
      <%#= render "layouts/errors", model: @task %>
      <%= form_with model: @task, method: :patch do |f| %>
        <div class="form-group">
          <%= f.label "タスク" %>
          <%= f.text_field :title, class: "form-control form-control-lg", style: "width: 500px" %>
        </div>
        <div class="form-group">
          <%= f.label "タグ" %>
          <!-- 登録されているタグをフォームに初期値として表示 -->
          <%= f.text_field :tag_name, value: @task.tags.pluck(:name).join(","), class: "form-control form-control-lg", style: "width: 500px" %>
        </div>
        <div class="form-group">
          <%= f.label "進捗" %>
          <%= f.select :progress_status, Task.progress_statuses_i18n.invert, {prompt: false}, class: "form-control form-control-lg", style: "width: 500px" %>
        </div>
        <div class="text-center">
          <%= f.submit "更新", class: "btn btn-secondary" %>
          <%= link_to "戻る", task_path(@task), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>