<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Task edit</h1>
        <%= form_with model: @task, method: :patch do |f| %>
          <div class="form-group">
            <%= f.label :title %>
            <%= f.text_field :title, class: "form-control col-5" %>
          </div>
          <div class="form-group">
            <!-- 登録されているタグをフォームに初期値として表示 -->
            <%= f.text_field :tag_name, value: @task.tags.pluck(:name).join(","), class: "form-control col-5" %>
          </div>
          <div class="form-group">
            <%= f.select :progress_status, Task.progress_statuses_i18n.invert, {prompt: false}, class: "form-control col-5" %>
          </div>
            <%= f.submit "Update", class: "btn btn-outline-primary" %>
        <% end %>
    </div>
  </div>
</div>