<div class="container">
  <%= form_with url: task_search_path, method: :get do |f| %>
  <div class="form-group">
    <%= f.text_field :keyword, class: "form-control col-md-3", placeholder: "#{@keyword}" %>
  </div>
  <%= f.submit "Search", class: "btn btn-outline-dark" %>
  <% end %>
  <span><%= @keyword %> で検索中</span>
  <h1 class="text-center mb-5">Members Tasks</h1>

  <% @tag_list.each do |tag| %>
    <%= link_to tag_search_path(tag_id: tag.id), class: "btn btn-outline-primary" do %>
      <%= tag.name %>
      (<%= tag.task_tags.count %>)
    <% end %>
  <% end %>

  <div class="d-flex flex-wrap">
    <% @tasks.each do |task| %>
      <div class="card col-md-3" style="width: 16rem">
        <div class="card-body">
          <%= link_to (task.customer) do %>
          <%= image_tag task.customer.get_customer_image(50, 50), class: "card-link" %>
          <%= task.customer.full_name %>
          <% end %>
          <div>
            <strong>title:<%= link_to task.title, task_path(task.id) %></strong>
          </div>
          <div>
            <span class=<%= task.progress_status %>><%= task.progress_status_i18n %></span>
          </div>
          <div>
            <%= task.created_at.to_s(:datetime_jp) %>
          </div>
          <div>
            <span><%= task.task_comments.count %>comments</span>
          </div>
          <div>
            <% if task.favorited_by?(current_customer) %>
              <span>
                <%= link_to task_favorites_path(task), method: :delete do %>
                  <i class="fas fa-heart" style="color: #FF367F"></i> <%= task.favorites.count %>
                <% end %>
              </span>
            <% else %>
              <span>
                <%= link_to task_favorites_path(task), method: :post do %>
                  <i class="far fa-heart" style="color: #FF367F"></i> <%= task.favorites.count %>
                <% end %>
              </span>
            <% end %>
            <div>
              <!--投稿に紐付くタグを取り出す-->
              <% task.tags.each do |tag| %>
                <%= tag.name %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= paginate @tasks %>