<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center"><%= @task.title %></h3>
      <div class="row">
        <% @task.tags.each do |tag| %>
          <p class="bg-primary text-light text-center mx-auto p-1 show_tag"><i class="fas fa-tags"></i><%= tag.name %></p>
        <% end %>
      </div>
      <div class="row">
        <div class="col-12 task_show">
          <div class="text-center my-3">
            <strong class="<%= @status %> status py-1 col-lg-3 col-md-3 col-sm-3 col-xs-3"><%= @status_i18n %></strong>
            <% if @task.customer == current_customer %>
              <%= link_to "編集", edit_task_path(@task), class: "my-3 col-lg-1 col-md-3 col-sm-3 col-xs-3 btn btn-success" %>
              <%= link_to "削除", task_path(@task), method: :delete, data: { confirm: "タスクを消しますか？消すと元に戻せません" }, class: "my-3 col-lg-1 col-md-3 col-sm-3 col-xs-3 btn btn-danger" %>
            <% end %>
            <span class="col-1" id="favorite_btn_<%= @task.id %>">
              <%= render "public/favorites/favorite", task: @task %>
            </span>
          </div>
        </div>
      </div>
      <div class="text-right">
        登録日：<%= @task.created_at.to_s(:datetime_jp) %><br>
        投稿者：<%= @task.customer.full_name %>
        <div id="comments_count">
          <%= render "public/task_comments/count", task: @task %>
        </div>
      </div>
    </div>
    <div class="comment center-block">
      <div>
        <%= render "public/task_comments/form", task: @task, task_comment: @task_comment %>
      </div>
    </div>
    <div id="comments_area" class="p-3">
      <%= render "public/task_comments/index", task_comments: @task_comments %>
    </div>
  </div>
</div>

