<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h2 class="text-center"><%= @task.title %></h2>
      <% @task.tags.each do |tag| %>
        <%= tag.name %>
      <% end %>
      <table class="table">
        <tr>
          <td class=<%= @status %>><%= @status_i18n %></td>
          <% if @task.customer == current_customer %>
          <td><%= link_to "編集", edit_task_path(@task), class: "btn btn-outline-success" %></td>
          <td><%= link_to "削除", task_path(@task), method: :delete, data: { confirm: "タスクを消しますか？消すと元に戻せません" }, class: "btn btn-outline-danger" %></td>
          <% end %>
          <td><%= @task.created_at.to_s(:datetime_jp) %></td>
          <td id="favorite_btn_<%= @task.id %>">
            <%= render "public/favorites/favorite", task: @task %>
          </td>
          <td id="comments_count">
            <%= render "public/task_comments/count", task: @task %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div>
    <%= render "public/task_comments/form", task: @task, task_comment: @task_comment %>
  </div>
  <div id="comments_area">
    <%= render "public/task_comments/index", task: @task %>
  </div>
</div>
