<!DOCTYPE html>
<html>
  <head>
    <title>TaskPf</title>
    <%= favicon_link_tag("favicon.jpg") %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    <script src="https://kit.fontawesome.com/1067ba15fc.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="footerFixed">
      <%= render "layouts/header" %>
      <main class="footer-mb">
        <div id="flash_message">
          <%= render "layouts/flash" %>
        </div>
        <div class="container mt-5">
          <%= yield %>
        </div>
      </main>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
